@font-face {
  font-family: "Montserrat";
  /*Can be any text*/
  src: local("Montserrat-Regular"),
    url("../../fonts/Montserrat-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --color-text-primary: #FF6060;
  --color-text-dark: black;
  --color-text-light: white;
  --color-background-dark: black;
  --color-background-grey: #F6F6F6;

  --content-width: 1240px;
  --footer-height: 209px;
}

html {
  font-size: 100%;
  font-family: 'Montserrat';
  color: var(--color-text-primary);
}

body {
  /* 18px */
  font-size: 1.125rem;
  min-height: 100vh
}

a {
  text-decoration: none;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.page-content {
  max-width: var(--content-width);
  width: 100%;
  margin: auto;
  flex-grow: 5;
}