@font-face {
  font-family: "Montserrat";
  /*Can be any text*/
  src: local("Montserrat-Regular"),
    url("../../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --color-text-primary: #FF6060;
  --color-text-dark: black;
  --color-text-light: white;

  --color-background-primary: #FF6060;
  --color-background-dark: black;
  --color-background-grey: #F6F6F6;

  --content-width: 1240px;
  --footer-height: 209px;
}

html {
  font-size: 100%;
  font-family: 'Montserrat';
  color: var(--color-text-primary);
}

body {
  /* 18px */
  font-size: 1.125rem;
  min-height: 100vh
}

a {
  text-decoration: none;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.page-content {
  max-width: var(--content-width);
  width: 100%;
  flex-grow: 5;
}

@media only screen and (max-width: 1280px) {
  .page-content {
    padding: 0px 20px;
  }
}