.footer {
  margin-top: auto;
  color: var(--color-text-light);
  background-color: var(--color-background-dark);
  text-align: center;
  height: var(--footer-height);
  bottom: 0px;
  width: 100%;
}

.footer__logo {
  margin-top: 66px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .footer {
    font-size: 0.75rem;
  }
}