.host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.host__profil {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host__fullname {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.host__picture {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}