.host {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.host__profil {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host__fullname {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.host__picture {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

.host__rating {
  text-align: right;
}

@media only screen and (max-width: 600px) {
  .host {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}