.housing__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.housing__content-top {
  display: flex;
  justify-content: space-between;
}

.housing__title {
  margin-right: 20px;
  font-size: 2.25rem;
}

.housing__location {
  margin-top: 5px;
  font-size: 1.125rem;
}

.housing__tags {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.housing__content-bottom {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.housing__equipments {
  list-style-type: none;
}

@media only screen and (max-width: 600px) {
  .housing__content-top {
    flex-wrap: wrap;
    gap: 30px;
  }

  .housing__content-right {
    width: 100%;
  }

  .housing__content-bottom {
    flex-direction: column;
    gap: 30px;
  }
}