.housing__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.housing__content-top {
  display: flex;
  justify-content: space-between;
}

.housing__title {
  font-size: 2.25rem;
}

.housing__location {
  margin-top: 5px;
  font-size: 1.125rem;
}

.housing__tags {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}