.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found__title {
  font-size: 288px;
  font-weight: bold;
}

.not-found__text {
  font-size: 36px;
}

.not-found__redirection {
  margin-top: 180px;
  color: var(--color-text-primary);
  text-decoration: underline;
}